### Open, read and normalize json

In [41]:
import pandas as pd 
import numpy as np 
import json

In [42]:
file_path = 'school_details.json'

with open(file_path) as json_file:
    school_details = json.load(json_file)

In [43]:
data = pd.DataFrame(school_details)
data.head(3)

                                             details
0  {'idSchool': 11269910, 'internalIdSchool': 101...
1  {'idSchool': 11256876, 'internalIdSchool': 111...
2  {'idSchool': 11256865, 'internalIdSchool': 111...

In [44]:
details_df = pd.json_normalize(data['details'])
details_df.head()

,idSchool,internalIdSchool,idParentSchool,schoolSocialLinks,schoolYearDescription,code,siruesCode,longName,shortName,schoolType,...,idSchoolYear.isCurrentYear,idSchoolYear.dateTo,idSchoolYear.dateFrom,idSchoolYear.description,idSchoolYear.code,idSchoolYear.idSchoolYear,schoolNumbers.idSchool,schoolNumbers.studyFormationsCount,schoolNumbers.studentsCount,schoolNumbers.personnelCount
0,11269910,10131270,NaN,[],Anul şcolar 2018-2019,0261200154,23054595,"ASOCIAŢIA CREŞTINĂ DE CARITATE ""GOSEN"" ARAD/ G...","GRĂDINIŢA ""GOSEN"" ARAD",Unitate de învățământ,...,0,1567285199000,1535749200000,Anul şcolar 2018-2019,2018-2019,21,11269910,4,131,7
1,11256876,11192270,NaN,[],Anul şcolar 2018-2019,1061206943,None,ASOCIAȚIA PENTRU PROMOVAREA VALORILOR AUTENTIC...,ASOCIAȚIA VALORILOR BZ,Unitate de învățământ,...,0,1567285199000,1535749200000,Anul şcolar 2018-2019,2018-2019,21,11256876,0,0,0
2,11256865,11192168,NaN,[],Anul şcolar 2018-2019,1061206875,None,ASOCIAȚIA UMANITARĂ EDUSTAR BUZĂU,ASOCIATIA EDUSTAR,Unitate de învățământ,...,0,1567285199000,1535749200000,Anul şcolar 2018-2019,2018-2019,21,11256865,0,0,0
3,11284187,11284187,11270069.0,[],Anul şcolar 2018-2019,5162103686,None,CABINET INTERSCOLAR DE ASISTENTA PSIHOPEDAGOGI...,CIAP LICEUL PEDADOGIC STEFAN BANULESCU,Unitate de învățământ,...,0,1567285199000,1535749200000,Anul şcolar 2018-2019,2018-2019,21,11284187,0,0,0
4,11270113,10049611,11270069.0,[],Anul şcolar 2018-2019,5142100248,None,CABINET INTERSCOLAR DE ASISTENTA PSIHOPEDAGOGI...,CIAP LICEUL NR1 BORCEA_SCOALA PERISORU,Centru județean de resurse și asistență educaț...,...,0,1567285199000,1535749200000,Anul şcolar 2018-2019,2018-2019,21,11270113,0,0,0

### About data

In [7]:
details_df.value_counts('longName')

longName
CASA CORPULUI DIDACTIC                                5
SCOALA PRIMARA DUMBRAVA                               4
GRADINITA CU PROGRAM NORMAL DUMBRAVA                  4
GRADINITA CU PROGRAM NORMAL BROSTENI                  4
GRADINITA CU PROGRAM NORMAL BALESTI                   3
                                                     ..
GRĂDINIȚA CU PROGRAM NORMAL NR. 2 DUDU                1
GRĂDINIȚA CU PROGRAM NORMAL NR. 2 DRĂGHINEȘTI         1
GRĂDINIȚA CU PROGRAM NORMAL NR. 2 DEPARAȚI            1
GRĂDINIȚA CU PROGRAM NORMAL NR. 2 DELANI              1
Școala Superioară Comercială "Nicolae Kretzulescu"    1
Name: count, Length: 18724, dtype: int64

In [11]:
details_df.isPj

0         True
1         True
2         True
3        False
4        False
         ...
18910    False
18911    False
18912    False
18913     True
18914     True
Name: isPj, Length: 18915, dtype: bool

In [8]:
details_df['longName'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
18910    False
18911    False
18912    False
18913    False
18914    False
Name: longName, Length: 18915, dtype: bool

In [9]:
details_df['shortName'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
18910    False
18911    False
18912    False
18913    False
18914    False
Name: shortName, Length: 18915, dtype: bool

In [10]:
details_df['county'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
18910    False
18911    False
18912    False
18913    False
18914    False
Name: county, Length: 18915, dtype: bool

In [67]:
details_df['locality'].value_counts()

locality
CLUJ-NAPOCA             160
IAŞI                    155
CONSTANŢA               151
TIMIŞOARA               132
BUCUREŞTI SECTORUL 2    131
                       ...
BLIDARI                   1
GOIEŞTI                   1
GRECEŞTI                  1
HOLT                      1
MAHMUDIA                  1
Name: count, Length: 6537, dtype: int64

In [101]:
details_df['operatingMode'].value_counts()

operatingMode
Un schimb/zi              9032
Program normal            6312
Două schimburi/zi         1783
Program prelungit         1737
Trei schimburi/zi           31
Program săptămânal          18
Mai multe schimburi/zi       2
Name: count, dtype: int64

In [107]:
details_df['propertyForm'].value_counts()

propertyForm
Publică de interes naţional şi local    18030
Privată                                   885
Name: count, dtype: int64

In [108]:
details_df['fundingForm'].value_counts()

fundingForm
Buget           18019
Taxă              852
Sponsorizare       27
Mixtă              15
Contract            2
Name: count, dtype: int64

In [45]:
details_df['county'].value_counts().get('CLUJ', 0)

filtered_data_cj = details_df[details_df['county'] == 'CLUJ']
count_value_loc_cj = filtered_data_cj['locality'].nunique()
count_value_loc_cj

187

### Structure details

In [81]:
structure_details = details_df[['idSchool', 'siruesCode', 'shortName', 'county', 'locality', 'propertyForm', 'fundingForm', 'schoolNumbers.studyFormationsCount', 'schoolNumbers.studentsCount', 'schoolNumbers.personnelCount']]
structure_details

,idSchool,siruesCode,shortName,county,locality,propertyForm,fundingForm,schoolNumbers.studyFormationsCount,schoolNumbers.studentsCount,schoolNumbers.personnelCount
0,11269910,23054595,"GRĂDINIŢA ""GOSEN"" ARAD",ARAD,ARAD,Privată,Sponsorizare,4,131,7
1,11256876,None,ASOCIAȚIA VALORILOR BZ,BUZĂU,RÂMNICU SĂRAT,Privată,Taxă,0,0,0
2,11256865,None,ASOCIATIA EDUSTAR,BUZĂU,BUZĂU,Privată,Taxă,0,0,0
3,11284187,None,CIAP LICEUL PEDADOGIC STEFAN BANULESCU,CĂLĂRAŞI,CĂLĂRAŞI,Publică de interes naţional şi local,Buget,0,0,0
4,11270113,None,CIAP LICEUL NR1 BORCEA_SCOALA PERISORU,CĂLĂRAŞI,BORCEA,Publică de interes naţional şi local,Buget,0,0,0
...,...,...,...,...,...,...,...,...,...,...
18910,11271997,362678,ŞCOALĂ PRIMARĂ NR.1 LUPOAIA,BIHOR,LUPOAIA,Publică de interes naţional şi local,Buget,5,0,0
18911,11262566,None,ȘCOALĂ PRIMARĂ NR.2 I. L. CARAGIALE,DÂMBOVIŢA,I. L. CARAGIALE,Publică de interes naţional şi local,Buget,4,0,0
18912,11277287,None,"S04 ""TAMASI ARON"" ODORHEI",HARGHITA,ODORHEIU SECUIESC,Publică de interes naţional şi local,Buget,1,0,0
18913,11260231,None,SC PRI MARIA MONTESSORI IASI,IAŞI,IAŞI,Privată,Taxă,5,32,8
18914,11267114,101,TRANSYLVANIA COLLEGE THE CAMBRIDGE INT. CLUJ,CLUJ,CLUJ-NAPOCA,Privată,Taxă,31,698,88

In [82]:
structure_details.rename(columns = {'schoolNumbers.studyFormationsCount': 'studyFormationsCount', 'schoolNumbers.studentsCount':'studentsCount', 'schoolNumbers.personnelCount': 'personnelCount'}, inplace = False)

,idSchool,siruesCode,shortName,county,locality,propertyForm,fundingForm,studyFormationsCount,studentsCount,personnelCount
0,11269910,23054595,"GRĂDINIŢA ""GOSEN"" ARAD",ARAD,ARAD,Privată,Sponsorizare,4,131,7
1,11256876,None,ASOCIAȚIA VALORILOR BZ,BUZĂU,RÂMNICU SĂRAT,Privată,Taxă,0,0,0
2,11256865,None,ASOCIATIA EDUSTAR,BUZĂU,BUZĂU,Privată,Taxă,0,0,0
3,11284187,None,CIAP LICEUL PEDADOGIC STEFAN BANULESCU,CĂLĂRAŞI,CĂLĂRAŞI,Publică de interes naţional şi local,Buget,0,0,0
4,11270113,None,CIAP LICEUL NR1 BORCEA_SCOALA PERISORU,CĂLĂRAŞI,BORCEA,Publică de interes naţional şi local,Buget,0,0,0
...,...,...,...,...,...,...,...,...,...,...
18910,11271997,362678,ŞCOALĂ PRIMARĂ NR.1 LUPOAIA,BIHOR,LUPOAIA,Publică de interes naţional şi local,Buget,5,0,0
18911,11262566,None,ȘCOALĂ PRIMARĂ NR.2 I. L. CARAGIALE,DÂMBOVIŢA,I. L. CARAGIALE,Publică de interes naţional şi local,Buget,4,0,0
18912,11277287,None,"S04 ""TAMASI ARON"" ODORHEI",HARGHITA,ODORHEIU SECUIESC,Publică de interes naţional şi local,Buget,1,0,0
18913,11260231,None,SC PRI MARIA MONTESSORI IASI,IAŞI,IAŞI,Privată,Taxă,5,32,8
18914,11267114,101,TRANSYLVANIA COLLEGE THE CAMBRIDGE INT. CLUJ,CLUJ,CLUJ-NAPOCA,Privată,Taxă,31,698,88

In [83]:
structure_details.county.value_counts()

county
BIHOR                   783
SUCEAVA                 772
VASLUI                  698
IAŞI                    677
PRAHOVA                 659
MUNICIPIUL BUCUREŞTI    657
MUREŞ                   629
TIMIŞ                   617
DOLJ                    592
BUZĂU                   538
BACĂU                   537
ALBA                    530
CONSTANŢA               530
ARGEŞ                   521
DÂMBOVIŢA               521
GORJ                    518
BOTOŞANI                504
VRANCEA                 483
ARAD                    461
GALAŢI                  446
CLUJ                    444
VÂLCEA                  440
OLT                     433
CARAŞ-SEVERIN           430
BRAŞOV                  427
MARAMUREŞ               418
HARGHITA                406
TELEORMAN               365
SĂLAJ                   361
SIBIU                   360
NEAMŢ                   346
CĂLĂRAŞI                342
BISTRIŢA-NĂSĂUD         330
COVASNA                 321
SATU MARE               299
HUNEDOARA               275
BRĂILA                  271
ILFOV                   256
MEHEDINŢI               220
GIURGIU                 194
IALOMIŢA                152
TULCEA                  152
Name: count, dtype: int64

### Filtered data -- County Cluj

In [84]:
cj_county_details = structure_details[structure_details['county'].str.strip() == 'CLUJ']

In [85]:
cj_county_details.columns

Index(['idSchool', 'siruesCode', 'shortName', 'county', 'locality',
       'propertyForm', 'fundingForm', 'schoolNumbers.studyFormationsCount',
       'schoolNumbers.studentsCount', 'schoolNumbers.personnelCount'],
      dtype='object')

In [88]:
result = cj_county_details[cj_county_details['siruesCode'].isna()]

cj_county_details = cj_county_details.dropna()
cj_county_details

,idSchool,siruesCode,shortName,county,locality,propertyForm,fundingForm,schoolNumbers.studyFormationsCount,schoolNumbers.studentsCount,schoolNumbers.personnelCount
48,11266861,123007621,CASA CORPULUI DIDACTIC CLUJ,CLUJ,CLUJ-NAPOCA,Publică de interes naţional şi local,Buget,0,0,100
146,11266905,12000012,C.J.R.A.E. CLUJ,CLUJ,CLUJ-NAPOCA,Publică de interes naţional şi local,Buget,0,0,157
227,11266906,120447612,CSEI CJ (SC. SPEC. 1),CLUJ,CLUJ-NAPOCA,Publică de interes naţional şi local,Buget,26,148,142
268,11266863,121121021,CLUBUL COPIILOR CÂMPIA TURZII,CLUJ,CÂMPIA TURZII,Publică de interes naţional şi local,Buget,0,0,0
285,11266864,121121007,CLUBUL COPIILOR DEJ,CLUJ,DEJ,Publică de interes naţional şi local,Buget,0,0,0
...,...,...,...,...,...,...,...,...,...,...
18806,11267357,120440066,"ȘCOALA PRIMARĂ VLAHA, COM. SĂVĂDISLA",CLUJ,VLAHA,Publică de interes naţional şi local,Buget,8,0,0
18870,11267360,120440717,ȘCOALA PROFESIONALĂ POIANA TURDA,CLUJ,TURDA,Publică de interes naţional şi local,Buget,26,411,39
18871,11267345,120438829,"ȘCOALA PROFESIONALĂ RĂSCRUCI, COM. BONȚIDA",CLUJ,RĂSCRUCI,Publică de interes naţional şi local,Buget,23,250,42
18883,11267124,120849509,"ȘCOALA PROFESIONALĂ SPECIALĂ ""SAMUS"" CLUJ - NA...",CLUJ,CLUJ-NAPOCA,Publică de interes naţional şi local,Buget,37,245,123
18914,11267114,101,TRANSYLVANIA COLLEGE THE CAMBRIDGE INT. CLUJ,CLUJ,CLUJ-NAPOCA,Privată,Taxă,31,698,88

In [51]:
#INLOCUIRE DIAG+CRITICE

diacr = {"Ă":"A", "Ş":"S","Ţ":"T","Â":"A","Î":"I"}

# Create a translation table
translation_table = str.maketrans(diacr)

# Apply the translation to the specified column

cj_county_details["locality"] = cj_county_details["locality"].str.translate(translation_table)

C:\Users\Diana\AppData\Local\Temp\ipykernel_15680\1192601544.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cj_county_details["locality"] = cj_county_details["locality"].str.translate(translation_table)

In [52]:
cj_county_details["Loc_jud"] = cj_county_details[["Locality", "County"]].apply(lambda x: "_".join(x.astype(str)), axis = 1)

KeyError: "None of [Index(['Locality', 'County'], dtype='object')] are in the [columns]"

In [77]:
cj_county_details.head(10)

,idSchool,siruesCode,shortName,county,locality,operatingMode,propertyForm,fundingForm,schoolNumbers.studyFormationsCount,schoolNumbers.studentsCount,schoolNumbers.personnelCount
48,11266861,123007621,CASA CORPULUI DIDACTIC CLUJ,CLUJ,CLUJ-NAPOCA,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,100
146,11266905,12000012,C.J.R.A.E. CLUJ,CLUJ,CLUJ-NAPOCA,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,157
227,11266906,120447612,CSEI CJ (SC. SPEC. 1),CLUJ,CLUJ-NAPOCA,Un schimb/zi,Publică de interes naţional şi local,Buget,26,148,142
268,11266863,121121021,CLUBUL COPIILOR CÂMPIA TURZII,CLUJ,CÂMPIA TURZII,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0
285,11266864,121121007,CLUBUL COPIILOR DEJ,CLUJ,DEJ,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0
294,11266865,121121033,CLUBUL COPIILOR GHERLA,CLUJ,GHERLA,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0
299,11266866,123003546,CLUBUL COPIILOR HUEDIN,CLUJ,HUEDIN,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0
400,11266867,121121019,CLUBUL COPIILOR TURDA,CLUJ,TURDA,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0
451,11266869,None,"CLUBUL SPORTIV ""ALEXANDRU PAPIU ILARIAN"" DEJ",CLUJ,DEJ,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0
473,11266871,None,"CLUBUL SPORTIV ""LIVIU REBREANU"" TURDA",CLUJ,TURDA,Un schimb/zi,Publică de interes naţional şi local,Buget,0,0,0

In [61]:
cj_county_details.county.value_counts()

county
CLUJ    444
Name: count, dtype: int64

In [22]:
cj_county_details.locality.value_counts()

locality
CLUJ-NAPOCA      160
TURDA             28
DEJ               23
GHERLA            14
CÂMPIA TURZII     13
                ...
CIURILA            1
COJOCNA            1
CUTCA              1
CUZDRIOARA         1
RĂSCRUCI           1
Name: count, Length: 187, dtype: int64

In [78]:
cj_county_details.isna().sum()

idSchool                                0
siruesCode                            133
shortName                               0
county                                  0
locality                                0
operatingMode                           0
propertyForm                            0
fundingForm                             0
schoolNumbers.studyFormationsCount      0
schoolNumbers.studentsCount             0
schoolNumbers.personnelCount            0
dtype: int64

### CSV

In [89]:
cj_county_details.to_csv('cj_county_details_3.csv', index = False)

In [55]:
 incercare = pd.read_csv('cj_county_details.csv')